@{
    Layout = "_Layout";
}


<h1>@Model.Name Details</h1>

<h3>Description of order: @Model.Description</p>
<h3>Cost: $@Model.Price.</h3>
<h3>Date order was made: @Model.Date</h3>

<br>
<br>
<p><a href="/vendors">Go Back to Vendor List</a></p>