@{
    Layout = "_Layout";
}

<h1> Welcome Pierre!</h1>
<h2> This is the splash page for your beta Bakery Supply application!</h2>
<p>Click one of the below links to get started</p>
<br>
<a href="/vendors">List of All of your Current Vendors</a>
