@{
    Layout = "_Layout";
}

<h1> Welcome Pierre!</h1>
<h2> This is the splash page for your beta Bakery Supply application!</h2>
<br>
<p>Click one of the below links to get started</p>
<a href="/vendors/new">Add a Vendor</a>
<br>
<a href="/vendors">See All of your Current Vendors</a>
